<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Navbar</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    
    <footer class="container py-5 col-md-6">
        <div class="row">
          <div class="col-12 col-md">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg> -->
            <img src="" alt="Comutech-logo">
            <small class="d-block mb-3 text-muted">© Todos os direitos reservados a <strong>Comutech</strong></small>
          </div>
          <div class="col-6 col-md">
            <h5>Contato</h5>
            <ul class="list-unstyled text-small">
              <li><p><strong>Horário: </strong><span>Seg. a Sex | 8:00 as 18:00</span></p></li>
              <li><p><strong>Telefone: </strong><span>(47) 9184-8923</span></p></li>
              <li><p><strong>Endereço: </strong><span>Rua 7 de Setembro, 1600</span></p></li>
              <li><p><strong>E-mail: </strong><span>comutech@gmail.com</span></p></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Parceiro</h5>
            <img src="" alt="logo-entra21">
          </div>
        </div>
      </footer>

</body>