{% load static %}
{% comment %} 
<div class="container py-5 col-md-6">
  <div class="row">
    <div class="col-12 col-md ">
      
    </div>
    <div class="col-6 col-md">
      
      <ul class="list-unstyled text-small ">
        
      </ul>
    </div>
    <div class="col-6 col-md">
      
    </div>
  </div>
</div> {% endcomment %}

<!-- Footer -->
<footer class="text-center footer-comutech">
    <!-- Section: Links -->
    <section class="col-12">
      <!--Grid row-->
      <div class="row justify-content-md-center">

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 enterprise">
          <div class="d-inline-block">
            <!--Inicio logo da empresa-->
                <h5 class="text-uppercase">Empresa</h5>
                <img src="{% static 'Sources/images/ComuTechLogo.png'%}"  alt="Comutech-logo">
          </div>

        </div>
        <!--Contatos-->
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0 contact">
          <div class="d-inline-block">
            <h5>Contato</h5>
  
            <ul class="list-unstyled mb-0">
                <li><p><strong>Horário: </strong><span>Seg. a Sex | 8:00 as 18:00</span></p></li>
                <li><p><strong>Telefone: </strong><span>(47) 9184-8923</span></p></li>
                <li><p><strong>Endereço: </strong><span>Rua 7 de Setembro, 1600</span></p></li>
                <li><p><strong>E-mail: </strong><span>comutech@gmail.com</span></p></li>
            </ul>
          </div>
        </div>
        <!--Fim Contatos-->

        <!--  -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0  partner">
          <h5>Parceiro</h5>
          <div class="contributor-img">
            <!--Logo do entra 21-->
            <img src="{% static 'Sources/images/entra21_logo.png' %}" alt="logo-entra21">
            <!--fim logo do entra21-->
          </div>
        </div>

        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Fim da logo da empresa -->
  </div>
  <!-- Fim container -->

  <!-- Mensagem de todos os direitos reservados -->
  <div class="text-center pt-3 pb-1 background end-footer">
    <small class="d-block mb-3">© Todos os direitos reservados a <strong>Comutech</strong></small>
  </div>
  <!-- Fim Mensagem de todos os direitos reservados -->

</footer>
<!-- Fim Footer -->