  <nav class="navbar navbar-expand-md navbar-dark bg-nav">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="" alt="Logo"></a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto nav-items">
        <li class="nav-item">
          <a class="link-explore" href="{% url 'explorar' %}">
            Explorar
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-form nav-text" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-form nav-text" href="{% url 'register' %}">Cadastro</a>
        </li>
        <li class="nav-item active">
          <a class="text-danger nav-text" href="{% url 'criacao' %}">
            <button class="btn-help" >
              <p class="m-0">Pedir Ajuda</p>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>