{% load static %} 
 <nav class="navbar navbar-expand-md navbar-dark bg-nav">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'Sources/images/ComuTechLogo.png' %}" alt="Logo" width="175" height="50" class="">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto nav-items">
        <li class="nav-item active">
          <a class="nav-form nav-text" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="link-explore" href="{% url 'explore' %}">
            Explorar
          </a>
        </li>
        {% if not user.is_authenticated %} 
        <li class="nav-item active">
          <a class="nav-form nav-text" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-form nav-text" href="{% url 'register' %}">Cadastro</a>
        </li>
        {% elif user.is_authenticated %}
        <div class="dropdown mx-2">
          <div id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="user-profile-btn">
              <svg class="user-profile-icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              <p class="user-profile-text">Perfil</p>
            </div>
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/user/{{user.id}}/">Ver meu perfil</a>
            <a class="dropdown-item" href="/user/{{user.id}}/edit/">Editar</a>
            <a class="dropdown-item" href="/logout/">Sair da conta</a>
          </div>
        </div>
        {% endif %}
        <li class="nav-item active">
          <a class="text-danger nav-text" href="{% url 'need_aid' %}">
            <button class="btn-help" >
              <p class="m-0">Pedir Ajuda</p>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show d-flex justify-content-center" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
  {% endif %}
