<div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nos diga como foi sua experiência</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/review/{{aid.id}}?next={{request.path}}" method="post">
            <div class="modal-body">
            {{review}}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Finalizar Socorro</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  