{% extends 'base.html' %}

{% block main %}
    <div class="register-page" style="min-height: 570.391px">
        <div class="register-box">
            <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>Admin</b>LTE</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">dsad</p>
                
                <form action="/cadastro/" method="POST">
                    {% csrf_token %}

                    {{form}}
            
                    <div class="row">
                        <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree" />
                            <label for="agreeTerms">
                            <span>Eu concordo com os</span> <strong>termos</strong>
                            </label>
                        </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">
                            Cadastrar
                        </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.form-box -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}


