{% extends 'base.html' %}

{% block main %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-5 text-center mb-5">Criar Socorro</h1>
            <form action="">
                
                <div class="col-md-12 text-center" >
                    <img src="usuario.png" width="350"class="rounded" alt="Foto do Usuario"><p>Barra para escolher foto</p>
                </div>

                <div class="form-group">
                    
                    <label for="">Titulo do Socorro</label>
                    <input type="text" required class="form-control">
                </div>
                <form action="/criar/" method="POST">
                    <div class="form-group">
                        {{form}}
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-outline-danger ">Success</button>
                    </div>
                </form>
            </form>
        </div>
    </div>
{% endblock %}