{% extends 'base.html' %}

{% block main %}
<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-5 text-center mb-5">Criar Socorro</h1>
            <form enctype="multipart/form-data" action="/criar/int" method="POST">
                {% csrf_token %}
                <div class="col-md-12 text-center">
                    {{form}}
                </div>
                <div class="col-md-12 text-center">
                    {{image_form}}
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-outline-primary ">Success</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}