{% extends 'base.html' %}

{% block main %}
  <main>
      <div class="card-body row m-0">
        <div class="col-lg-5 d-flex justify-content-center">
          <div class=""><img class="img-fluid" src="./81ppUD0twCL.png" alt="" /></div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
              <label for="inputName">Nome</label>
              <input type="text" id="inputName" class="form-control">
            </div>
            <div class="form-group row m-2">
              <h5><b class="pr-2">CPF</b></h5>
              <h5>012.132.123-12</h5>
            </div>
            <div class="form-group row m-2">
              <h5><b class="pr-2">Conta Criada em</b></h5>
              <h5>02/21/1203</h5>
            </div>
            <div class="form-group row m-2">
              <h5><b class="pr-2">Data de Nascimento</b></h5>
              <h5>92/12/9210</h5>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fas fa-envelope-square"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Ser Público
                  </div>
              </div>
          </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fab fa-facebook-square"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Facebook" aria-label="Facebook" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      Ser Público
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fab fa-twitter-square"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Twitter" aria-label="Twitter" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input">
                      Ser Público
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fab fa-twitter-square"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Whatsapp" aria-label="Whatsapp" aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Ser Público
                  </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fab fa-twitter-square"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Instagram" aria-label="Instagram" aria-describedby="basic-addon1">
              <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    Ser Público
                  </div>
              </div>
            </div>
          <div class="form-group">
            <label for="inputCep">CEP</label>
            <input type="text" id="inputCep" class="form-control">
          </div>
          <div class="form-group">
            <label for="inputTelephone">Telefone</label>
            <input type="text" id="inputTelephone" class="form-control">
          </div>
            
            <div class="form-group">
              <label for="inputMessage">Sobre</label>
              <textarea id="inputMessage" class="form-control" rows="4"></textarea>
            </div>
            <button type="button" class="btn btn-info col-2 float-right m-1">Salvar</button>
          </div>
      </div>
  </main>
{% endblock %}