{% extends 'base.html' %}
{% load static %}
{% block head %}
  <nav class="navbar navbar-light bg-transparent">
    <form class="form-inline ml-auto">
      <select name="publicado" id="publicado" class="btn explore-btn dropdown-toggle">
        <option selected disabled hidden>Publicado há ?</option>
        <option value="1week">1 semana</option>
        <option value="2week">2 semanas</option>
        <option value="1month">1 mês</option>
      </select>
      <select name="" id="" class="btn explore-btn dropdown-toggle">
        <option selected disabled hidden>Classificado em</option>
        <!-- Busca os tipos do banco de dados -->
        {% for type in aidtypes %} 
        <option value="{{type.id}}">{{type.name}}</option>
        {% endfor %}
      </select>
      <input name="search" class="form-control explore-btn" type="search" placeholder="Buscar por..." aria-label="SearchKeyWords">
      <button class="btn explore-btn" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
  </nav>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">

          <!-- Criação dos cards -->
          {% for socorro in socorroLista %} 
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZO25RX0Me_oYwuXa2hPcgah-3t07WXVWXWJGVGYuI0cp4BMW1QXj0KQGHDyzR5TFy8Ys&usqp=CAU">
                <h1 class="card-title text-center">{{socorro.title}}</h1>
                <div class="card-body">
                  <p class="description">{{socorro.date}}</p>
                  <p class="card-text">{{socorro.type}}</p>
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="imgs/example_img.jfif" alt="user image" style="height: 25px;">
                      <span class="username">
                        <a href="#">{{socorro.author.name}}</a>
                      </span>
                    </div>
                </div> 
            </div>
          {% endfor %}

            <!-- Paginação -->
            <!-- <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% for pagina in paginas.paginator.page_range %}
                <li class="page-item">
                  <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                </li> -->
                <!-- {% if paginas.number == pagina %}
                <li class="page-item active">
                  <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
                </li> -->
                {% endif %}
                {% endfor %}
              </ul>
            </nav>
    </div><!--Fim Div Row-->
  </div><!--Fim Div Container-->
{% endblock %}