{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
  <nav class="navbar navbar-light bg-transparent p-0">
    <form class="form-inline ml-auto explore-bar">
      <select name="publicado" id="publicado" class="explore-btn">
        <option {% if not request.GET.publicado %}selected{% endif %} disabled hidden>Publicado há ?</option>
        <option value="">---</option>
        <option {% if request.GET.publicado == "1week" %}selected{% endif %} value="1week">1 semana</option>
        <option {% if request.GET.publicado == "2week" %}selected{% endif %} value="2week">2 semanas</option>
        <option {% if request.GET.publicado == "1month" %}selected{% endif %} value="1month">1 mês</option>
      </select>
      <select name="type" id="" class="explore-btn">
        <option {% if not request.GET.type %}selected{% endif %} disabled hidden>Classificado em</option>
        <!-- Busca os tipos do banco de dados -->
        <option value="">---</option>
        {% for type in aidtypes %} 
        <option {% if request.GET.type == type.id %}selected{% endif %} value="{{type.id}}">{{type.name}}</option>
        {% endfor %}
      </select>
      <input name="search" class="form-control explore-btn" type="search" placeholder="Buscar por..." aria-label="SearchKeyWords">
      <button class="btn explore-btn" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
  </nav>
{% endblock %}

{% block main %}

<div class="aid-cards">
  <div class="aid-card">
    <div href="paracard/" id="aid-card-infos">
      <img class="aid-card-img" src="https://www.researchgate.net/profile/Victor-Cayres/publication/327989326/figure/fig1/AS:676949827543042@1538408824317/Figura-24-Amostragem-aleatoria-de-personagens-de-anoes.jpg">
      <div class="aid-title-section">
        <p>Título Fodástico</p>
      </div>
      <div class="aid-infos-section">
        <a class="aid-profile-user" href="">
          <img class="aid-profile-img" src="{% static '/Sources/images/Publicação.jpeg' %}" >
          Usuario
        </a>
        <p class="aid-type">Classificação</p>
      </div>
      <div class="aid-card-buttons">
        <div class="dropdown">
          <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Desativar Públicação</a>
            <a class="dropdown-item" href="#">Excluir Publicação</a>
          </div>
        </div>
        <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
          Descrição
        </button>
      </div>
    </div>
    <div id="aid-card-desc" class="card">
      <div class="card-header aid-header-desc">
        <h3 class="card-title">Descrição</h3>
        <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
          Voltar
        </button>
      </div>
      <div class="card-body">
        BLablablablablablablablabla
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="aid-card">
    <div href="paracard/" id="aid-card-infos">
      <img class="aid-card-img" src="https://www.researchgate.net/profile/Victor-Cayres/publication/327989326/figure/fig1/AS:676949827543042@1538408824317/Figura-24-Amostragem-aleatoria-de-personagens-de-anoes.jpg">
      <div class="aid-title-section">
        <p>Título Fodástico</p>
      </div>
      <div class="aid-infos-section">
        <a class="aid-profile-user" href="">
          <img class="aid-profile-img" src="{% static '/Sources/images/Publicação.jpeg' %}" >
          Usuario
        </a>
        <p class="aid-type">Classificação</p>
      </div>
      <div class="aid-card-buttons">
        <div class="dropdown">
          <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Desativar Públicação</a>
            <a class="dropdown-item" href="#">Excluir Publicação</a>
          </div>
        </div>
        <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
          Descrição
        </button>
      </div>
    </div>
    <div id="aid-card-desc" class="card">
      <div class="card-header aid-header-desc">
        <h3 class="card-title">Descrição</h3>
        <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
          Voltar
        </button>
      </div>
      <div class="card-body">
        BLablablablablablablablabla
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="aid-card">
    <div href="paracard/" id="aid-card-infos">
      <img class="aid-card-img" src="https://www.researchgate.net/profile/Victor-Cayres/publication/327989326/figure/fig1/AS:676949827543042@1538408824317/Figura-24-Amostragem-aleatoria-de-personagens-de-anoes.jpg">
      <div class="aid-title-section">
        <p>Título Fodástico</p>
      </div>
      <div class="aid-infos-section">
        <a class="aid-profile-user" href="">
          <img class="aid-profile-img" src="{% static '/Sources/images/Publicação.jpeg' %}" >
          Usuario
        </a>
        <p class="aid-type">Classificação</p>
      </div>
      <div class="aid-card-buttons">
        <div class="dropdown">
          <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Desativar Públicação</a>
            <a class="dropdown-item" href="#">Excluir Publicação</a>
          </div>
        </div>
        <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
          Descrição
        </button>
      </div>
    </div>
    <div id="aid-card-desc" class="card">
      <div class="card-header aid-header-desc">
        <h3 class="card-title">Descrição</h3>
        <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
          Voltar
        </button>
      </div>
      <div class="card-body">
        BLablablablablablablablabla
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="aid-card">
    <div href="paracard/" id="aid-card-infos">
      <img class="aid-card-img" src="https://www.researchgate.net/profile/Victor-Cayres/publication/327989326/figure/fig1/AS:676949827543042@1538408824317/Figura-24-Amostragem-aleatoria-de-personagens-de-anoes.jpg">
      <div class="aid-title-section">
        <p>Título Fodástico</p>
      </div>
      <div class="aid-infos-section">
        <a class="aid-profile-user" href="">
          <img class="aid-profile-img" src="{% static '/Sources/images/Publicação.jpeg' %}" >
          Usuario
        </a>
        <p class="aid-type">Classificação</p>
      </div>
      <div class="aid-card-buttons">
        <div class="dropdown">
          <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Desativar Públicação</a>
            <a class="dropdown-item" href="#">Excluir Publicação</a>
          </div>
        </div>
        <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
          Descrição
        </button>
      </div>
    </div>
    <div id="aid-card-desc" class="card">
      <div class="card-header aid-header-desc">
        <h3 class="card-title">Descrição</h3>
        <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
          Voltar
        </button>
      </div>
      <div class="card-body">
        BLablablablablablablablabla
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="aid-card">
    <div href="paracard/" id="aid-card-infos">
      <img class="aid-card-img" src="https://www.researchgate.net/profile/Victor-Cayres/publication/327989326/figure/fig1/AS:676949827543042@1538408824317/Figura-24-Amostragem-aleatoria-de-personagens-de-anoes.jpg">
      <div class="aid-title-section">
        <p>Título Fodástico</p>
      </div>
      <div class="aid-infos-section">
        <a class="aid-profile-user" href="">
          <img class="aid-profile-img" src="{% static '/Sources/images/Publicação.jpeg' %}" >
          Usuario
        </a>
        <p class="aid-type">Classificação</p>
      </div>
      <div class="aid-card-buttons">
        <div class="dropdown">
          <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Desativar Públicação</a>
            <a class="dropdown-item" href="#">Excluir Publicação</a>
          </div>
        </div>
        <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
          Descrição
        </button>
      </div>
    </div>
    <div id="aid-card-desc" class="card">
      <div class="card-header aid-header-desc">
        <h3 class="card-title">Descrição</h3>
        <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
          Voltar
        </button>
      </div>
      <div class="card-body">
        BLablablablablablablablabla
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="aid-card">
    <div href="paracard/" id="aid-card-infos">
      <img class="aid-card-img" src="https://www.researchgate.net/profile/Victor-Cayres/publication/327989326/figure/fig1/AS:676949827543042@1538408824317/Figura-24-Amostragem-aleatoria-de-personagens-de-anoes.jpg">
      <div class="aid-title-section">
        <p>Título Fodástico</p>
      </div>
      <div class="aid-infos-section">
        <a class="aid-profile-user" href="">
          <img class="aid-profile-img" src="{% static '/Sources/images/Publicação.jpeg' %}" >
          Usuario
        </a>
        <p class="aid-type">Classificação</p>
      </div>
      <div class="aid-card-buttons">
        <div class="dropdown">
          <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Desativar Públicação</a>
            <a class="dropdown-item" href="#">Excluir Publicação</a>
          </div>
        </div>
        <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
          Descrição
        </button>
      </div>
    </div>
    <div id="aid-card-desc" class="card">
      <div class="card-header aid-header-desc">
        <h3 class="card-title">Descrição</h3>
        <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
          Voltar
        </button>
      </div>
      <div class="card-body">
        BLablablablablablablablabla
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  
</div>

<script src="{% static '/Sources/explore.js' %}"></script>
{% endblock %}