{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
  <nav class="navbar navbar-light bg-transparent p-0">
    <form class="form-inline ml-auto explore-bar">
      <div class="second-nav-selects">
        <select name="publicado" class="explore-btn second-nav-published">
          <option {% if not request.GET.publicado %}selected{% endif %} disabled hidden>Publicado há ?</option>
          <option value="">---</option>
          <option {% if request.GET.publicado == "1week" %}selected{% endif %} value="1week">1 semana</option>
          <option {% if request.GET.publicado == "2week" %}selected{% endif %} value="2week">2 semanas</option>
          <option {% if request.GET.publicado == "1month" %}selected{% endif %} value="1month">1 mês</option>
        </select>
        <select name="type" class="explore-btn second-nav-type">
          <option {% if not request.GET.type %}selected{% endif %} disabled hidden>Classificado em</option>
          <!-- Busca os tipos do banco de dados -->
          <option value="">---</option>
          {% for type in aidtypes %} 
          <option {% if request.GET.type == type.id %}selected{% endif %} value="{{type.id}}">{{type.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="second-nav-searchs">
        <input id="explore-search" name="search" class="form-control explore-btn second-nav-search" type="search" placeholder="Buscar por...">
        <button class="btn explore-btn second-nav-submit" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
  </nav>
{% endblock %}

{% block main %}
<div class="explore-content">
  {% if aid_page %}
  <div class="aid-cards">
    {% for aid in aid_page %}
      {% if user.id == aid.author.id %}
        {% include 'partials/_review.html'%}
      {% endif %}
    <div class="aid-card"
    {% if aid.state == "C" %}id="froozen-aid-card"
    {% elif aid.state == "F" %}id="ended-aid-card"{% endif %}>
      <div>
        <a href="/explore/{{aid.id}}" class="aid-route">
          <img class="aid-card-img" src="{% get_thumbnail aid.id %}">
          <div class="aid-title-section">
            <p>
              {{aid.title}}
            </p>
          </div>
        </a>
        <div class="aid-infos-section">
          <a class="aid-profile-user" href="/user/{{aid.author.id}}">
            <img class="aid-profile-img" src="{{MEDIA_URL}}{{aid.author.profile_picture}}" >
            <p class="m-0 ml-1">
              {{aid.author.name}}
            </p>
          </a>
          <p class="aid-type">{{aid.type}}</p>
        </div>
        <div class="aid-card-buttons">
          {% if aid.author.id == user.id %}
            {% if aid.state != "F" %}
          <div class="dropdown">
            <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opções
            </button>
            <div class="dropdown-menu dropdown-strong" aria-labelledby="dropdownMenuButton">
              {% if aid.state == "C" %}
              <a class="dropdown-item" href="/open/{{aid.id}}?open=True" name="open">Descongelar Publicação</a>
              {% endif%}
              <button type="button" class="dropdown-item" data-toggle="modal" data-target="#review-modal-{{aid.id}}">
                Finalizar Públicação
              </button>
            </div>
          </div>
            {% endif %}
          {% endif %}
          <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
            Descrição
          </button>
        </div>
      </div>
      <div class="card aid-card-desc">
        <div class="card-header aid-header-desc">
          <h3 class="card-title">Descrição</h3>
          <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
            Voltar
          </button>
        </div>
        <div class="card-body">
          {{aid.description}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="explore-empty-search">
    <h1>Nenhum socorro encontrado.</h1>
    <h4>Os filtros selecionados não correspondem a nenhum socorro, mude os filtros e tente novamente.</h4>
  </div>
  {% endif %}
  
  <!-- Paginação -->
  {% if aid_list.count != 0 %}
  <nav class="nav-pagination mt-auto">
    <ul id="explore-pagination" class="nav-pagination-ul">
      {% for pagina in aid_page.paginator.page_range %}
        {% if aid_page.number == pagina %}
        <li class="page-item active">
          <a class="page-link" href="?page={{pagina}}&publicado={{request.GET.publicado}}&type={{request.GET.type}}&search={{request.GET.search}}">{{pagina}}</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{pagina}}&publicado={{request.GET.publicado}}&type={{request.GET.type}}&search={{request.GET.search}}">{{pagina}}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>

<script src="{% static '/Sources/explore.js' %}"></script>
{% endblock %}