{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block main %}
<link rel="stylesheet" href="{% static 'Sources/home.css' %}">
<div class="u-body u-overlap w-100">
  <section class="u-clearfix u-image u-section-1" id="welcome">
    <div class="u-clearfix u-sheet u-sheet-1 d-flex">
      <div class=" u-align-left u-container-style u-expanded-width-xs u-group u-palette-1-base u-group-1">
        <div class="px-2 u-container-layout u-container-layout-1">
          <h1 class="u-text u-title u-text-1" id="welcome-txt">Bem vindo ao <span>ComuTech</span></h1>
          <a href="#about-comutech">
            <button class="btn btn-block btn-form col-10 m-4 p-2">
                O que é o ComuTech?
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-3" id="about-comutech">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="f-column u-container-style u-left-cell u-palette-1-base u-size-30 u-layout-cell-1">
            <div class="m-auto u-container-layout">
              <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-2">
                  <h3 class="u-text u-text-2 mb-3">Qual o nosso propósito?</h3>
                  <p class="u-text u-text-3">
                      Sabendo da existência de pessoas passando por maus momentos
                    onde uma ajuda seria conveniente, nasceu o ComuTech, com a finalidade
                    de oferecer uma plataforma onde você pode pedir ajuda ou ajudar outras pessoas.
                  </p>  
                </div>
              </div>
            </div>
            <a href="#posts">
              <button class="btn btn-block btn-form col-5 m-4 mx-5 p-2 ml-auto mb-0">
                  Publicações
              </button>
            </a>
          </div>
          <div class="u-container-style u-layout-cell u-palette-2-base u-right-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-3">
              <div class="u-container-style u-group u-group-2">
                <div class="u-container-layout quem-somos-nos">
                  <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1 h-icon-text icon">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332">
                      <use xlink:href="#svg-adc2"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-adc2" x="0px" y="0px" viewBox="0 0 95.333 95.332" style="enable-background: new 0 0 95.333 95.332" xml:space="preserve" class="u-svg-content">
                      <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path>
                      <path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                    </svg>
                  </span>
                  <p class="u-text u-text-4 text-desc ml-5" id="about-comu-desc">
                    Nossa plataforma permite a pessoa necessitada de criar uma publicação
                    falando sobre sua situação, anexar fotos, classificar dentre algumas
                    opções, o tipo de necessidade em que ela se encontra e disponibilizar
                    redes sociais para contato.
                  </p>
                </div>
              </div>
              <div class="u-image u-image-default u-image-1 img-fluid home-second-image m-auto" data-image-width="900" data-image-height="616"></div>
              <a href="#about-dev">
                <button class="btn btn-block btn-form btn-strong col-7 m-4 p-2">
                    Quem somos nós?
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if aid_page%}
  <section class="u-clearfix u-grey-5 u-section-4" id="posts">
      <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-container-style u-expanded-width-md u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1 p-0">
          <h2 class="u-text u-text-1 title-posts">Publicações</h2>
          <div class="u-border-1 u-line u-line-horizontal">
        </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            {% for aid in aid_page %} 
            <div class="aid-card">
              <div>
                <a href="{{aid.id}}" class="aid-route">
                  <img class="aid-card-img" src="{% get_thumbnail aid.id %}">
                  <div class="aid-title-section">
                    <p>
                      {{aid.title}}
                    </p>
                  </div>
                </a>
                <div class="aid-infos-section">
                  <a class="aid-profile-user" href="/user/{{aid.author.id}}">
                    <img class="aid-profile-img" src="{{MEDIA_URL}}{{aid.author.profile_picture}}" >
                    {{aid.author.name}}
                  </a>
                  <p class="aid-type">{{aid.type}}</p>
                </div>
                <div class="aid-card-buttons">
                  {% if aid.author.id == user.id %}
                  <div class="dropdown">
                    <button class="btn btn-aid btn-block btn-form btn-strong dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opções
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Desativar Públicação</a>
                      <a class="dropdown-item" href="#">Finalizar Publicação</a>
                    </div>
                  </div>
                  {% endif %}
                  <button class="btn btn-aid btn-block btn-form ml-auto btn-aid-show-desc">
                    Descrição
                  </button>
                </div>
              </div>
              <div class="card aid-card-desc">
                <div class="card-header aid-header-desc">
                  <h3 class="card-title">Descrição</h3>
                  <button class="btn btn-strong btn-form ml-auto btn-aid-show-infos">
                    Voltar
                  </button>
                </div>
                <div class="card-body">
                  {{aid.description}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <a href="{% url 'explore' %}">
            <button class="btn btn-block btn-form col-8 m-4 mx-auto p-2 ml-auto mb-0">
                Ver mais Publicações
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <section class="u-clearfix u-image u-section-9" id="about-dev">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1" >
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle">
                <div class="u-align-left u-container-style u-expanded-width u-group u-right-0 u-white u-group-1 div-about-dev">
                  <div class="u-container-layout u-container-layout-3">
                    <h2 class="u-text info-dev-title">Quem somos nós?</h2>
                    <p class="u-text info-dev-txt">
                        Somos um grupo de 5 jovens que estão prestes a concluir
                      um curso de programação do Entra21 e estão sendo desafiados a
                      colocarem suas habilidades em prática.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
