{% extends 'base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'Sources/home.css' %}">
<div class="u-body u-overlap w-100">
  <section class="u-clearfix u-image u-section-1" id="welcome">
    <div class="u-clearfix u-sheet u-sheet-1 d-flex">
      <div class=" u-align-left u-container-style u-expanded-width-xs u-group u-palette-1-base u-group-1">
        <div class="px-2 u-container-layout u-container-layout-1">
          <h1 class="u-text u-title u-text-1" id="welcome-txt">Bem vindo ao</h1>
          <img src="{% static 'Sources/images/ComuTechLogo.png' %}" class="img-fluid welcome-comutech">
          <a href="#about-comutech">
            <button class="btn btn-block btn-form col-10 m-4 p-2">
                O que é o ComuTech?
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-3" id="about-comutech">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="d-flex u-container-style u-left-cell u-palette-1-base u-size-30 u-layout-cell-1">
            <div class="m-auto u-container-layout">
              <div class="u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle-xl u-valign-middle-xs u-container-layout-2">
                  <h3 class="u-text u-text-2">Qual o nosso propósito?</h3>
                  <p class="u-text u-text-3">
                      Sabendo da existência de pessoas passando por maus momentos
                    onde uma ajuda seria conveniente, nasceu o ComuTech, com a finalidade
                    de oferecer uma plataforma onde você pode pedir ajuda ou ajudar outras pessoas.
                  </p>  
                </div>
              </div>
              <a href="#posts">
                <button class="btn btn-block btn-form col-5 m-4 mx-5 p-2 ml-auto mb-0">
                    Publicações
                </button>
              </a>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-palette-2-base u-right-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-3">
              <div class="u-container-style u-group u-group-2">
                <div class="u-container-layout">
                  <span class="u-icon u-icon-circle u-text-palette-1-base u-icon-1 h-icon-text">
                    <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332">
                      <use xlink:href="#svg-adc2"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-adc2" x="0px" y="0px" viewBox="0 0 95.333 95.332" style="enable-background: new 0 0 95.333 95.332" xml:space="preserve" class="u-svg-content">
                      <path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path>
                      <path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
                    </svg>
                  </span>
                  <p class="u-text u-text-4 text-desc" id="about-comu-desc">
                    Nossa plataforma permite a pessoa necessitada de criar uma publicação
                    falando sobre sua situação, anexar fotos, classificar dentre algumas
                    opções, o tipo de necessidade em que ela se encontra e disponibilizar
                    redes sociais para contato.
                  </p>
                </div>
              </div>
              <div class="u-image u-image-default u-image-1 img-fluid home-second-image m-auto" data-image-width="900" data-image-height="616"></div>
              <a href="#about-dev">
                <button class="btn btn-block btn-form btn-strong col-7 m-4 p-2">
                    Quem somos nós ?
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-grey-5 u-section-4" id="posts">
      <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-container-style u-expanded-width-md u-group u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-text u-text-1 title-posts">Publicações</h2>
          <div class="u-border-1 u-line u-line-horizontal">
        </div>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <a class="card-link" href="ParaCard" style="text-decoration: none;">
              <div class="col-md-4"><!--Inicio Card-->
                <div class="card mb-4 shadow-sm"><!--sombra do card-->
                  <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZO25RX0Me_oYwuXa2hPcgah-3t07WXVWXWJGVGYuI0cp4BMW1QXj0KQGHDyzR5TFy8Ys&usqp=CAU">
                  <h1 class="text-center c-text">Titulo</h1>
                  <div class="card-body"><!--Inicio Corpo Do Card-->
                    <div class="card-date-class">
                      <p class="description c-text mb-1">DD/MM/AAAA</p>
                      <p class="card-text c-text mb-1">Classificação</p>
                    </div>
                    <div class="user-block"><!-- Bloco Do Usuário Ex: Nome, Foto e Descrição-->
                      <img class="img-circle img-bordered-sm" src="imgs/example_img.jfif" alt="user image"> <!--imagem do usuário-->
                        <span class="username"><!--Nome Do Usuario-->
                          <a href="Usuario" class="userName">Usuario</a>
                        </span><!--Fim Do Que Contém No Nome Do Usuario-->
                      </div>
                  </div><!--Fim Do Corpo Do Card-->
                </div><!--Fim da Sombra Do Card-->
              </div><!--Fim Card-->
            </a>
            <a class="card-link" href="ParaCard" style="text-decoration: none;">
              <div class="col-md-4"><!--Inicio Card-->
                <div class="card mb-4 shadow-sm"><!--sombra do card-->
                  <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZO25RX0Me_oYwuXa2hPcgah-3t07WXVWXWJGVGYuI0cp4BMW1QXj0KQGHDyzR5TFy8Ys&usqp=CAU">
                  <h1 class="text-center c-text">Titulo</h1>
                  <div class="card-body"><!--Inicio Corpo Do Card-->
                    <div class="card-date-class">
                      <p class="description c-text mb-1">DD/MM/AAAA</p>
                      <p class="card-text c-text mb-1">Classificação</p>
                    </div>
                    <div class="user-block"><!-- Bloco Do Usuário Ex: Nome, Foto e Descrição-->
                      <img class="img-circle img-bordered-sm" src="imgs/example_img.jfif" alt="user image"> <!--imagem do usuário-->
                        <span class="username"><!--Nome Do Usuario-->
                          <a href="Usuario" class="userName">Usuario</a>
                        </span><!--Fim Do Que Contém No Nome Do Usuario-->
                      </div>
                  </div><!--Fim Do Corpo Do Card-->
                </div><!--Fim da Sombra Do Card-->
              </div><!--Fim Card-->
            </a>
            <a class="card-link" href="ParaCard" style="text-decoration: none;">
              <div class="col-md-4"><!--Inicio Card-->
                <div class="card mb-4 shadow-sm"><!--sombra do card-->
                  <img class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZO25RX0Me_oYwuXa2hPcgah-3t07WXVWXWJGVGYuI0cp4BMW1QXj0KQGHDyzR5TFy8Ys&usqp=CAU">
                  <h1 class="text-center c-text">Titulo</h1>
                  <div class="card-body"><!--Inicio Corpo Do Card-->
                    <div class="card-date-class">
                      <p class="description c-text mb-1">DD/MM/AAAA</p>
                      <p class="card-text c-text mb-1">Classificação</p>
                    </div>
                    <div class="user-block"><!-- Bloco Do Usuário Ex: Nome, Foto e Descrição-->
                      <img class="img-circle img-bordered-sm" src="imgs/example_img.jfif" alt="user image"> <!--imagem do usuário-->
                        <span class="username"><!--Nome Do Usuario-->
                          <a href="Usuario" class="userName">Usuario</a>
                        </span><!--Fim Do Que Contém No Nome Do Usuario-->
                      </div>
                  </div><!--Fim Do Corpo Do Card-->
                </div><!--Fim da Sombra Do Card-->
              </div><!--Fim Card-->
            </a>
          </div>
          <a href="{% url 'explore' %}">
            <button class="btn btn-block btn-form col-8 m-4 mx-auto p-2 ml-auto mb-0">
                Ver mais Publicações
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-image u-section-9" id="about-dev">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-27 u-layout-cell-1" >
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle">
                <div class="u-align-left u-container-style u-expanded-width u-group u-right-0 u-white u-group-1 div-about-dev">
                  <div class="u-container-layout u-container-layout-3">
                    <h2 class="u-text info-dev-title">Quem somos nós ?</h2>
                    <p class="u-text info-dev-txt">
                        Somos um grupo de 5 jovens que estão prestes a concluir
                      um curso de programação do Entra21 e estão sendo desafiados a
                      colocarem suas habilidades em prática.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
