{% extends 'base.html' %}

{% block conteudo%}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron mt-5">
      <div class="container">
        <h1 class="display-3">Nossa Missão</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio hic delectus atque cupiditate at quia impedit? Consequuntur eligendi similique sequi architecto consequatur incidunt nam iste reprehenderit fuga sunt repudiandae saepe delectus beatae ut perspiciatis repellendus at, debitis, fugit voluptatum, praesentium exercitationem minus animi dolores ipsum. Inventore magnam laudantium suscipit quae voluptatibus, quasi, nulla pariatur nam, deserunt sequi culpa. Repellendus quibusdam fuga expedita maxime accusantium deleniti nobis minus sequi omnis temporibus. Explicabo est modi nulla, obcaecati accusamus minus saepe possimus totam sunt culpa, corrupti, ut facilis sint assumenda! Saepe hic debitis illo dignissimos sit repellat. Ducimus enim nesciunt magni suscipit? Animi. </p>
      </div>

      <div class="container mt-5">
        <h1 class="display-3">Sobre</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio hic delectus atque cupiditate at quia impedit? Consequuntur eligendi similique sequi architecto consequatur incidunt nam iste reprehenderit fuga sunt repudiandae saepe delectus beatae ut perspiciatis repellendus at, debitis, fugit voluptatum, praesentium exercitationem minus animi dolores ipsum. Inventore magnam laudantium suscipit quae voluptatibus, quasi, nulla pariatur nam, deserunt sequi culpa. Repellendus quibusdam fuga expedita maxime accusantium deleniti nobis minus sequi omnis temporibus. Explicabo est modi nulla, obcaecati accusamus minus saepe possimus totam sunt culpa, corrupti, ut facilis sint assumenda! Saepe hic debitis illo dignissimos sit repellat. Ducimus enim nesciunt magni suscipit? Animi. </p>
      </div>

      <div class="container mt-5">
        <h1 class="display-3">Casos de sucesso</h1>
        <p>Alguns casos de sucesso. Onde conseguimos realizar nossa missao, ser a ponte para ajudar nossos usuarios. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates nostrum vel, dignissimos harum dolorem quas cum vero officia! Accusamus ab quasi ipsam incidunt expedita deleniti distinctio, assumenda est consectetur neque reprehenderit deserunt numquam illo? Aliquam nam exercitationem quas et dignissimos, laborum optio quae officiis odio ea eos officia saepe error!</p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Caso Alzheimer</h2>
          <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Standing on the frontline when the bombs start to fall. Heaven is jealous of our love, angels are crying from up above. Can't replace you with a million rings. Boy, when you're with me I'll give you a taste. There’s no going back. Before you met me I was alright but things were kinda heavy. Heavy is the head that wears the crown.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Playing ping pong all night long, everything's all neon and hazy. Yeah, she's so in demand. She's sweet as pie but if you break her heart. But down to earth. It's time to face the music I'm no longer your muse. I guess that I forgot I had a choice.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>
  

    </div> <!-- /container -->
  
</main>
{% endblock %}