{% extends 'base.html' %}

{% block main %}
      <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
              <div class="col-12">
                <img src="./239c05c5dcbf173b8642432fe8e460f1.jpg" class="product-image" alt="Product Image">
              </div>
              <div class="col-12 product-image-thumbs">
                <div class="product-image-thumb active"><img src="./239c05c5dcbf173b8642432fe8e460f1.jpg" alt="Product Image"></div>
                <div class="product-image-thumb"><img src="./coisas-totalmente-aleatorias-20053924-290720201839.jpg" alt="Product Image"></div>
                <div class="product-image-thumb"><img src="./download.jfif" alt="Product Image"></div>
                <div class="product-image-thumb"><img src="./DSCF1385.JPG" alt="Product Image"></div>
                <div class="product-image-thumb"><img src="./selfie1.png" alt="Product Image"></div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">Título da Publicação</h3>
              <hr>
              <h3 class="my-3">Lista de Necessidades</h3>
              <div class="col-12">
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Item 1
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Item 2
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Item 3
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Item 4
                      </label>
                  </div>
              </div>
                  
              <div class="mt-4 row">
                <div class="btn btn-success btn-lg btn-flat col-12">
                  <i class="fas fa-cart-plus fa-lg mr-2"></i>
                  Oferecer-se
                </div>

              </div>

              <div class="mt-4 product-share">
                <a href="#" class="text-gray">
                  <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="#" class="text-gray">
                  <i class="fab fa-twitter-square fa-2x"></i>
                </a>
                <a href="#" class="text-gray">
                  <i class="fas fa-envelope-square fa-2x"></i>
                </a>
                <a href="#" class="text-gray">
                  <i class="fas fa-rss-square fa-2x"></i>
                </a>
              </div>

            </div>
          </div>
          <div class="row mt-4">
              <div class="alert alert-light" role="alert">
                  <h4 class="alert-heading">Descrição</h4>
                  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
              </div>
          </div>
        </div>
{% endblock %}