{% extends 'base.html' %}

{% block main %}
    <main>
    <div class="card-body row m-0">
      <div class="col-md-5 d-flex">
        <div class="col-12"><img class="img-fluid" src="./81ppUD0twCL.png" alt="" /></div>
      </div>
      <div class="col-md-7">
        <h1>Likezado Otimista</h1>
        <div class="mt-4 product-share">
          <a href="#" class="text-gray">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
          <a href="#" class="text-gray">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
          <a href="#" class="text-gray">
            <i class="fas fa-envelope-square fa-2x"></i>
          </a>
        </div>
        <div class="form-group row m-2">
          <h4><b class="pr-2">Idade</b></h4>
          <h4>53</h4>
        </div>
        <div class="form-group row m-2">
          <h4><b class="pr-2">Conta Criada em</b></h4>
          <h4>01/04/1297</h4>
        </div>
        <div class="card direct-chat direct-chat-primary mt-4">
          <div class="card-header ui-sortable-handle">
            <h3 class="card-title">Sobre</h3>
          </div>
          <div class="card-body m-3" style="display: block">
            <p>
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            Brian O'Conner é um policial que se infiltra no submundo dos rachas de rua para investigar uma série de furtos. Enquanto tenta ganhar o respeito e a confiança do líder Dom Toretto, ele corre o risco de ser desmascarado.
            </p>
          </div>
        </div>
      </div>
    </div>
    </main>
{% endblock %}