<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComuTech</title>
    {% include 'partials/_importsStyle.html' %}
</head>
<body class="bg-display">
    <header class="sticky-top">
        {% include 'partials/_header.html' %}
        {% block head %}{% endblock %}
    </header>
    <main class="main-display">
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% include 'partials/_footer.html' %}
    </footer>

    {% include 'partials/_importsScripts.html' %}
</body>
</html>